<main aria-labelledby="formheadline">
  <form #loginForm="ngForm">
    <div class="form-row">
      <label class="form-label" for="username-input">Benutzername</label>
      <input #user (keyup)="onUserEnter(user.value)" type="text" class="form-input" name="username" id="username-input" required>
    </div>
    <div class="form-row">
      <label class="form-label" for="password-input">Passwort</label>
      <input #pwd (keyup)="onPwdEnter(pwd.value)" type="password" name="password" id="password-input" required class="form-input" minlength="4" maxlength="12">
      <span id="password-error" class="error-text"></span>
    </div>
    <div class="form-row form-row-center">
      <button (click)="login()" class="button button-submit" accesskey="2">Anmelden</button>
    </div>
  </form>
</main>
